@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Let see what we are doing here today and find out how we can help to resolve the issue that we may have today and forever.</p>
